.events {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
}

.heading {
    text-align: center;
    padding: 10px;
    color: #000000;
    line-height: 60.95px ;
}


@media only screen and (max-width: 600px) {
    .events {
        font-weight: 600px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
}